{% include 'header.html' %}
<body>
 {% include 'top_menus.html' %}
  <div class="container">        
      {% include 'left_menus.html' %}    
	  <div class="content">
		<div class="container-fluid">   	
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title"><i class="fa fa-search"></i> Select Criteria</h3>
						</div>
						<form id="form1" action="{{ url_for('report')}}" method="post" accept-charset="utf-8">
							<div class="box-body">						
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label for="classid">Class</label><small class="req"> *</small>
											<select id="classid" name="classid" class="form-control" required>
												<option value="">Select</option>
												{% for class in classes %}								
													<option value="{{class.id}}" {% if class.id == classId %} selected {% endif %}>{{class.name}}</option>				
												{% endfor %}												
											</select>
											<span class="text-danger"></span>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="sectionid">Section</label><small class="req"> *</small>
												<select name="sectionid" id="sectionid" class="form-control" required>
													<option value="">Select</option>
													{% for section in sections %}
														<option value="{{section.section_id}}" {% if section.section_id == sectionId %} selected {% endif %}>{{section.section}}</option>	
													{% endfor %}
												</select>
											<span class="text-danger"></span>
										</div>
									</div> 	
									<div class="col-md-4">
										<div class="form-group">
											<label for="attendanceDate">Attendance Date</label><small class="req"> *</small>			
											<input type="date" class="form-control" id="attendanceDate" name="attendanceDate"
      											 value="{{ attendanceDate if attendanceDate else '' }}" required>
										
										</div>
									</div> 										
								</div>
							</div>
							<div class="box-footer">
								<button type="submit" id="search" name="search" value="search" 
										style="margin-bottom:10px;" 
										class="btn btn-primary btn-sm checkbox-toggle">
									<i class="fa fa-search"></i> Search
								</button> 
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
		{% if students %}
				<div class="row" style="margin-top:20px;">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title"><i class="fa fa-list"></i> Attendance Report for {{ attendanceDate }}</h3>
							</div>
							<div class="box-body">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>#</th>
											<th>Reg No</th>
											<th>Roll No</th>
											<th>Name</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										{% for student in students %}
										<tr>
											<td>{{ loop.index }}</td>
											<td>{{ student.admission_no }}</td>
											<td>{{ student.roll_no }}</td>
											<td>{{ student.name }}</td>
											<td>
												{% if student.attendance_status == 1 %} Present
												{% elif student.attendance_status == 2 %} Late
												{% elif student.attendance_status == 3 %} Absent
												{% elif student.attendance_status == 4 %} Half Day
												{% else %} Not Marked
												{% endif %}
											</td>

										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
		{% endif %}
	
	</div>
  </div>
  </body>
</html>