{% include 'header.html' %}
<script src="{{ url_for('static',filename='js/students.js') }}"></script>
<body>
 {% include 'top_menus.html' %}
  <div class="container">        
      {% include 'left_menus.html' %}  
	  <div class="content">
		<div class="container-fluid">   
			<div class="row">
				<a href="#"><strong><span class="ti-user"></span> Students Section</strong></a>
				<hr>
				
					<div class="panel-heading position-relative">
						<div class="row">
							<div class="col-md-10">
								<h3 class="panel-title">Students</h3>
							</div>
						</div>
						<a href="{{ url_for('create_student') }}" class="btn btn-success admission-btn">
							<i class="glyphicon glyphicon-plus"></i> Student Admission
						</a>
					</div>
				</div>

				<table id="studentList" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Reg No</th>
							<th>Roll No</th>	
							<th>First name</th>
							<th>Surname</th>
							<th>Photo</th>	
							<th>Class</th>
							<th>Section</th>							
							<th></th>
							<th></th>							
						</tr>
					</thead>
					<tbody>
					  {% for student in students %}
					  <tr>
						<td>{{student.id}}</td>
						<td>{{student.admission_no}}</td>
						<td>{{student.roll_no}}</td>
						<td>{{student.name}}</td>
						<td>{{student.father_name}}</td>
						<td>{{student.photo}}</td>						
						<td>{{student.class}}</td>
						<td>{{student.section}}</td>					
						<td><a href="{{url_for('edit_student', student_id=student.id)}}" class="btn btn-primary update">Edit</a></td>
						<td><a href="{{url_for('delete_student', student_id=student.id)}}" class="btn btn-danger">Delete</a></td>
					  </tr> 
					{% endfor %}	  
					</tbody>
				</table>
			</div>
		</div>	
	</div>
		</div>	
	</div>
  </div>

  </body>
</html>